@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/MPLUS1p-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/MPLUS1p-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/MPLUS1p-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/MPLUS1p-ExtraBold.woff2') format('woff2');
}

html {
  font-size: 62.5%; /* ≒ 10px */
}

body {
  font-family: 'M PLUS 1p', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN','Yu Gothic', YuGothic, Verdana, Meiryo, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-feature-settings: "palt" 1;
  line-height: 1.6;
  letter-spacing: .03em;
  text-size-adjust: 100%;
  font-size: clamp(1rem, pxToVw(28,750), 1.6rem);
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 700;
}