@import url('variables.css');
@import url('fonts.css');

:root {
  scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  &::-webkit-scrollbar { width: 4px; height: 4px; }
  &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track { border-radius: 16px; }
  &::-webkit-scrollbar-thumb { background-color: var(--color-scrollbar-thumb); }
  &::-webkit-scrollbar-track { background-color: var(--color-scrollbar-track); }
}

html {
  overflow-x: hidden;
  overscroll-behavior: none;
}

body {
  height: 100%;
  overflow: hidden;
  background-color: var(--color-cyan);

  &.-loaded {
    height: auto;
    overflow: inherit;

    &.-modal, &.-fixed { /* modal時にbodyを固定する */
      height: 100%;
      overflow: hidden;
    }
  }

  & ul:not([class]) {
    padding-left: 1.5em;
  }

  & a:not([class]) {
    display: inline;
    padding: 0 .2em;
    color: var(--color-base);
    text-underline-offset: .2em;
  }
}

.dummy {
  outline: 1px red solid;

  &:before {
    position: absolute;
    z-index: 1;
    display: inline-block;
    padding: .1em .5em;
    font-size: .25rem !important;
    color: #fff;
    content: 'dummy';
    background-color: red;
  }
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  vertical-align: bottom;
  object-fit: contain;
}

.defLink {
  display: inline-flex;
  gap: .5em;
  align-items: center;
  font-size: clamp(1.2rem, pxToVw(22,1400), 2.2rem);
  font-weight: 600;
  line-height: 1;
  color: #000;
  text-decoration: none;

  @media (--sp) {
    font-size: clamp(1.2rem, pxToVw(18,450), 2.2rem);
  }

  &.-ja {
    gap: 1em;
    font-size: .9em;
    text-decoration: underline;
    text-underline-offset: .4em;
  }

  &.-en {
    gap: .5em;
    font-weight: bold;
  }

  & > i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    font-size: clamp(1.2rem, pxToVw(30,1400), 3rem);
    color: #fff;
    background-color: #000;
    border-radius: .26em;
  }
}

.defLinkBtn {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  min-height: 4.5em;
  padding: .8em 3.2em .8em 1.2em;
  font-size: .9em;
  font-size: clamp(1.6rem, pxToVw(20,1000), 1.8rem);
  line-height: 1.3;
  color: #fff;
  text-decoration: none;
  background-color: #000;
  border-radius: .4em;

  &:before {
    position: absolute;
    top: 50%;
    right: 1em;
    margin-right: .5em;
    font-family: 'Font Awesome 7 Pro', sans-serif;
    font-weight: 900;
    content: '\f105';
    transform: translateY(-50%);
  }

  @media (--sp) {
    font-size: clamp(1.2rem, pxToVw(16,450), 2rem);
  }
}


.pageTtl {
  font-size: clamp(1.4rem, pxToVw(20,1400), 2rem);
  font-weight: bold;
  line-height: 1.2;
  color: var(--color-base);
  text-align: center;

  & > .en {
    font-size: 2.5em;
    font-weight: bold;
  }

  & > .ja {
    margin-top: .5em;
    font-size: 1em;
  }
}

.notes {
  width: 100%;
  max-width: 80rem;
  margin: 2em auto;
  text-align: center;

  & > p {
    font-size: clamp(1.2rem, pxToVw(18,1400), 1.6rem);
    line-height: 1.4;
    word-break: auto-phrase;

    &.notesText {
      padding-left: 1em;
      text-indent: -1em;

      &:before {
        margin-right: .2em;
        content: '※';
      }
    }

    & + p {
      margin-top: 1em;
    }

    & a {
      display: inline;
      padding: 0 .2em;
      color: var(--color-base);
      text-underline-offset: .2em;
    }
  }
}
