/* stylelint-disable color-hex-length */
:root {
  /* color ------------------------------------------- */
  --color-navy             : #112631;
  --color-pink             : #FF009E;
  --color-cyan             : #0EB7DE;
  --color-yellow           : #FFCC00;
  --color-magenta          : #FC658C;
  --color-twitter          : #000000;
  --color-line             : #00B900;
  --color-youtube          : #FF0000;
  --color-facebook         : #1877F2;
  --color-chouchou         : #151e5d;

  --color-base              : #4a8fbe;
  --color-bg_light          : #f2f9fb;
  --color-hr_light          : #d5d5d5;
  --color-opacity_light     : color-mix(in srgb, #f2f9fb 80%, transparent);

  --color-example_text       : #8f8f8f;
  
  /* footer 背景色とテキスト（各アプリ、Share、toTop共通） */
  --color-fotter-text      : #fff;
  --color-fotter-background: var(--color-base);

   /* ユーティリティ */
  --color-overlay-light    : var(--color-opacity_light);
  --color-overlay-dark     : rgb(0 0 0 / 80%);
  
  /* スクロールバー */
  --color-scrollbar-thumb  : var(--color-base);
  --color-scrollbar-track  : #fff;

  /* z-index -------------------------------------- */
  
  --zindex-tab         :   700; /* タブ */
  --zindex-slick       :   800; /* slick */
  --zindex-footer      :   900; /* footer */
  --zindex-nav         :  1000; /* ナビゲーション */
  --zindex-yotubebox   :  1100; /* youtubeBox */
  --zindex-lightbox    :  1200; /* LightBox */
  --zindex-modal       :  1300; /* modalBox */
  --zindex-movie       :  1400; /* movie */
  --zindex-app         :   870; /* 各種App */
  --zindex-op          : 30000; /* ローディング */
}
